<%-include('./partials/header.ejs')%>

<main>
 <h2>Adicionar Produto</h2>
 <form class="adicionar-forma" action="/index" method="post" >
  <label for="Produto">Produto</label>
  <input type="text " name="Produto" id="Produto">
  <button type="submit" >Enviar</button>
 </form>
</main>

<%-include('./partials/footer.ejs')%>
